<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Authors'}) %>
    <body>
        <%- include('../partials/navbar') %>
        <!---->
        <% authors.forEach(a =>{%>
        <a href="authors/<%= a.author.toLowerCase().split(' ').join('-') %>"><%= a.author %></a>
        <%}) %>
    </body>
</html>
