<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Genres'}) %>
    <body>
        <%- include('../partials/navbar') %>
        <a href="/genres/fiction">Fiction</a>
        <a href="/genres/nonfiction">Nonfiction</a>
        <a href="/genres/crime">Crime</a>
        <a href="/genres/romance">Romance</a>
        <a href="/genres/fantasy">Fantasy</a>
        <a href="/genres/action">Action</a>
        <a href="/genres/mystery">Mystery</a>
        <a href="/genres/horror">Horror</a>
        <a href="/genres/drama">Drama</a>
        <a href="/genres/history">History</a>
        <a href="/genres/philosophy">Philosophy</a>
        <a href="/genres/science&nbsp;fiction">Science Fiction</a>
    </body>
</html>
