<!-- to be used for checkbox field when adding a new book,-->

<div>
    <input type="checkbox" name="genre" id="<%= genre %> " value="<%= genre %>" />
    <label for="<%=genre %>"><%= genre %></label>
</div>
