<html>
    <%- include('../partials/head', {title: '', cssPath: '/css/navBar.css'}) %>
    <nav>
        <div>
            <img src="/icons/book.svg" alt="" />
            <p>Tuna</p>
        </div>
        <a href="/">HOME</a>
        <a href="/books">BOOKS</a>
        <a href="/books/authors">AUTHORS</a>
        <a href="/books/genres">GENRES</a>
        <div class="search-bar">
            <form action="/books/search" method="POST">
                <input type="text" name="search" placeholder="Find a book" />
                <input type="submit" hidden />
            </form>
            <img src="/icons/search.svg" alt="" />
        </div>
    </nav>
</html>
