<nav style="display: flex; justify-content: space-between; background-color: rebeccapurple">
    <p>tuna</p>
    <a href="/">home</a>
    <a href="/books">books</a>
    <a href="/books/authors">authors</a>
    <input type="text" placeholder="search..." />
</nav>
