<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/navbar') %>
        <h1>ERROR!</h1>
        <% if (locals.errors) {%>
        <ul>
            <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
            <% }); %>
        </ul>
        <% } %>
    </body>
</html>
