<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head', {title: 'Tuna'}) %>
    <body>
        <%- include('partials/navbar')%>
        <a href="/books">go to books</a>
    </body>
</html>
