<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head', {title: 'Tuna', cssPath: '/css/homepage.css'}) %>
    <body>
        <img src="/icons/book.svg" alt="man sitting on book" class="logo" />
        <h1>Tuna</h1>
        <p>Find your next great read right here.</p>
        <a href="/books">Check the list!</a>
    </body>
</html>
