html {
    background-color: #1e293b;
}

body {
    font-family: sans-serif;
}

.details-container {
    width: 70%;
    display: flex;
    margin: 2rem auto 0 auto;

    img {
        width: 16rem;
        height: 22rem;
        margin: 0 1rem 0 0;
    }

    div:first-of-type {
        width: 70%;
        span {
            display: flex;
            align-items: center;

            h1 {
                margin-bottom: 5px;
                color: #ffffff;
            }

            p {
                margin: 25px 0 0 7px;
                font-size: 14px;
                color: #64748b;
            }
        }

        > p:nth-of-type(1) {
            margin: 0 0 2rem 0;
            font-size: 12px;
            color: #64748b;
        }

        p:nth-of-type(2) {
            width: 100%;
            margin: 0 0 1rem 0;
            line-height: 1.5;
            color: #ffffff;
        }

        p:nth-of-type(3) {
            font-size: 12px;
            color: #64748b;
        }
    }

    div:nth-of-type(2) {
        width: 20%;
        align-self: center;
        text-align: center;

        p {
            margin-bottom: 0;
            font-size: 27px;
            color: #ffffff;
        }

        button {
            width: 18%;
            height: 10%;
            margin: 5px 0 0 3px;
            background: none;
            border: none;
            cursor: pointer;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.edit-container {
    width: 70%;
    margin: 0 auto;

    button {
        padding: 5px;
        border: none;
        color: #ffffff;
        font-weight: 600;
        cursor: pointer;
    }

    button:nth-of-type(1) {
        margin: 1rem 0 0 3.5rem;
        background-color: #65a30d;
    }

    button:nth-of-type(2) {
        background-color: #b91c1c;
    }

    button:nth-of-type(1):hover {
        background-color: #4d7c0f;
    }

    button:nth-of-type(2):hover {
        background-color: #991b1b;
    }
}

dialog {
    width: 60%;
    background-color: #1e293b;
    box-shadow: 1px 9px 120px -13px rgba(0, 0, 0, 0.75);

    > button {
        background: none;
        border: none;
        font-weight: 600;
        color: #ffffff;
    }

    > button:hover {
        color: #fbbf24;
    }

    form {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        p {
            font-size: 12px;
            color: #64748b;
        }

        li {
            margin: 0;
            padding: 0;
            list-style-type: none;
            font-weight: 600;
            color: #64748b;
        }

        input[type="text"],
        textarea {
            width: 90%;
            padding: 5px;
            border: solid 2px transparent;
            border-radius: 5px;
        }

        textarea {
            padding-bottom: 7rem;
        }

        fieldset {
            width: 47%;
            margin: 10px 0 0 0;
            border-color: #64748b;

            legend {
                color: #ffffff;
            }

            input {
                width: 10px;
                border: none;
            }

            label {
                font-size: 13px;
            }
        }

        label {
            align-self: flex-start;
            margin: 10px 0 3px 0;
            color: #ffffff;
        }

        button {
            width: 12%;
            align-self: center;
            padding: 10px 8px;
            margin: 1rem 0 0 0;
            border: none;
            font-weight: bold;
            background-color: #65a30d;
            color: #ffffff;
            cursor: pointer;
        }

        button:hover {
            background-color: #4d7c0f;
        }
    }
}

@media (max-width: 600px) {
    .details-container {
        width: 100%;
        flex-direction: column;
        margin: 2rem 0 0 0;
        img {
            width: 9rem;
            height: 14rem;
            margin: 0 auto;
        }

        div:first-of-type {
            width: 100%;
            span {
                flex-direction: column;
                text-align: center;
                h1 {
                    width: 100%;
                    font-size: 18px;
                    text-align: center;
                }

                p {
                    margin: 0;
                    font-size: 12px;
                }
            }

            > p:nth-of-type(1) {
                margin-top: 1rem;
                font-size: 10px;
                align-self: center;
                text-align: center;
            }

            > p:nth-of-type(2) {
                font-size: 12px;
            }

            > p:nth-of-type(3) {
                font-size: 8px;
            }
        }

        div:nth-of-type(2) {
            p {
                font-size: 20px;
            }

            button {
                width: 40%;
                height: 30%;
            }
        }
    }

    .edit-container {
        display: flex;
        justify-content: center;
        gap: 1rem;

        button,
        button:nth-of-type(1) {
            font-size: 8px;
            margin: 1rem 0 0 0;
        }
    }
}
