html {
    background-color: #1e293b;
}

a {
    text-decoration: none;
}

.genres-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 2rem auto 0 auto;
    font-family: sans-serif;

    h1 {
        color: #ffffff;
        font-style: italic;
    }

    a {
        padding: 1rem;
        margin: 0 0 12px 0;
        color: white;
        border-bottom: solid 1px #64748b;
    }

    a:hover {
        color: #fbbf24;
    }
}
