@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

html {
    background-color: #1e293b;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 20rem;
    margin-top: 10%;
}

h1 {
    margin: 0;
    font-family: "Lobster";
    font-size: 3rem;
    color: #ffffff;
}

p {
    font-family: Helvetica, sans-serif;
    color: #64748b;
}

a {
    margin: 1rem 0 0 0;
    padding: 1rem 2rem;
    background-color: #65a30d;
    font-family: sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    background-color: #4d7c0f;
}
